

nav{
	position: absolute;
	margin: 20px 20px;
	top:0px;
}
nav > ul > li{
	line-height:30px;
	margin-left: 30px;
	float : left;
	list-style-type: none;
	text-indent: 35px;
}
nav > ul > li > a{
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-size:15px;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
	display:block;
	outline: none;
	color:black;
	text-align:center;
	margin: 0;
	border: 15px;
}
nav > ul > li:hover > a {
	color:white;
	background-color: #b07a23;
}